h1 {
  color: red;
  text-align: center;
}
h2 {
  color: black;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
body {
  background-color: lightblue;
}
h3{
  color:blue;
  font-style: normal;
  font-size: 15px;
}
h4{
  color: blue;
  font-style: normal;
  font-size: 15px;
  }
h5{
  color: blue;
  font-style: normal;
  font-size: 15px;
  }
